<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Document</title>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1048.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <style>
        .container {
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .sub-container {}

        .content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .select-language {
            display: flex;
            flex-direction: row;
            align-items: center;

        }

        /* #sourceLanguageCodeDropdown {
            width: 60px;
            height: 20px;
            margin-left: 10px;
        } */

        .left-side,
        .right-side {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }

        .group-btn {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .btn {
            width: 100px;
            height: 30px;
            margin-right: 10px;
        }

        .textract {
            margin-top: 20px;
            margin-left: 55px;
        }

        .translate-document {
            margin-top: 20px;
            margin-left: 55px;
        }
    </style>
    <div class="container">
        <h1>TEXTRACT WEBPAGE</h1>
        <div class="sub-container">
            <div class="content">
                <div class="left-side">
                    <textarea id="inputText" name="inputText" rows="20" cols="90"
                        placeholder=""></textarea>

                    <div class="group-btn">
                        <button class="clear-btn btn" onclick="clearInputs()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="textract">
            <p>Textract image</p>
            <form method="POST" , action="/extracttext" , enctype="multipart/form-data" class="main__menu--tool-form1">
                <input style="color:black" type="file" , name="filename" , id="filename" class="filebutton" />
                <button type="submit" class="btn btn-primary">EXTRACT</button>
                <!--                <button class="btn btn-success" onclick="Export2Word();">DOWNLOAD FILE</button>-->

            </form>

        </div>
    </div>

    <script>
        // set the focus to the input box
        document.getElementById("inputText").focus();

        AWS.config.region = 'us-east-1'; // Region
        AWS.config.credentials = new AWS.Credentials("AKIA6GUTAKM37AK5BHFD", "0ZkefHsvjCrKfjhuuBzUxnqdIgfiMdFTY7hKQFif");

        var translate = new AWS.Translate({ region: AWS.config.region });
        var polly = new AWS.Polly();
        var s3 = new AWS.S3();

        document.getElementById("dload").onclick = function () {
            var l = document.createElement("a");
            l.href = "data:text/plain;charset=UTF-8," + document.getElementById("outputText").value;
            l.setAttribute("output_download", document.getElementById("dload-fn").value);
            l.click();
        }

        function Export2Word(filename = "") {
                var preHtml =
                    "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
                var postHtml = "</body></html>";
                var html =
                    preHtml + document.getElementById('inputText').value + postHtml;

                var blob = new Blob(["\ufeff", html], {
                    type: "application/msword",
                });
                var url =
                    "data:application/vnd.ms-word;charset=utf-8," +
                    encodeURIComponent(html);
                filename = filename ? filename + ".doc" : "Translate_Input.doc";
                var downloadLink = document.createElement("a");
                document.body.appendChild(downloadLink);
                if (navigator.msSaveOrOpenBlob) {
                    navigator.msSaveOrOpenBlob(blob, filename);
                } else {
                    downloadLink.href = url;
                    downloadLink.download = filename;
                    downloadLink.click();
                }
                document.body.removeChild(downloadLink);
            }

            function Export2Word1(filename = "") {
                    var preHtml =
                        "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
                    var postHtml = "</body></html>";
                    var html =
                        preHtml + document.getElementById('outputText').value + postHtml;

                    var blob = new Blob(["\ufeff", html], {
                        type: "application/msword",
                    });
                    var url =
                        "data:application/vnd.ms-word;charset=utf-8," +
                        encodeURIComponent(html);
                    filename = filename ? filename + ".doc" : "Translate_Output.doc";
                    var downloadLink = document.createElement("a");
                    document.body.appendChild(downloadLink);
                    if (navigator.msSaveOrOpenBlob) {
                        navigator.msSaveOrOpenBlob(blob, filename);
                    } else {
                        downloadLink.href = url;
                        downloadLink.download = filename;
                        downloadLink.click();
                    }
                    document.body.removeChild(downloadLink);
                }
        function loadFileAsText() {
            var fileToLoad = document.getElementById("filename").files[0];

            var fileReader = new FileReader();
            fileReader.onload = function (fileLoadedEvent) {
                var textFromFileLoaded = fileLoadedEvent.target.result;
                document.getElementById("inputText").value = textFromFileLoaded;
            };
            fileReader.readAsText(fileToLoad, "UTF-8");
        }

        document.getElementById('inputText').onkeypress = function (e) {
            if (e.keyCode == 13) {
                document.getElementById('translate').click();
            }
        }

        function doSynthesizeInput() {
            var text = document.getElementById('inputText').value.trim();
            if (!text) {
                return;
            }
            var sourceLanguageCode = document.getElementById("sourceLanguageCodeDropdown").value;
            doSynthesize(text, sourceLanguageCode);
        }

        function doSynthesizeOutput() {
            var text = document.getElementById('outputText').value.trim();
            if (!text) {
                return;
            }
            var targetLanguageCode = document.getElementById("targetLanguageCodeDropdown").value;
            doSynthesize(text, targetLanguageCode);
        }
            function clearInputs() {
            document.getElementById('inputText').value = "";
            document.getElementById('outputText').value = "";
            document.getElementById("sourceLanguageCodeDropdown").value = "auto";
            document.getElementById("targetLanguageCodeDropdown").value = "vi";
            document.getElementById("filename").value = "";
        }
    </script>
    <p id="data_extract">{{jsonData}}</p>
    <script>
        let data = document.getElementById('data_extract').innerHTML;
        let dataFromApi = JSON.parse(data);
        let value = dataFromApi.text
        console.log("value json test=", data);
        document.getElementById('inputText').value = value
    </script>

</body>

</html>